$color-grey-light-1: #f7f7f7f7;
$color-grey-light-2: #eee;

$color-black: #000;
$color-white: #fff;

$default-font-size: 1.6rem;

$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-dark: #5643fa;
$color-tertiary-dark-1: #4637cc;
$color-tertiary-light: #2998ff;
$color-tertiary-light1: #56abfa;

$box-shadow: 0 0 2rem rgba($color-tertiary-dark, 0.4);
$box-shadow-light: 0 0 2rem rgba($color-tertiary-light, 0.4);
