.footer {
  color: $color-tertiary-dark-1;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  font-family: inherit;
  font-weight: 400;
  text-align: center;

  @include respond(sm-tab) {
    font-size: 1.1rem;
    width: 70%;
  }

  &__api-link {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
  }

  &__author {
    &-link {
      color: inherit;
      text-decoration: none;
      font-weight: 600;
    }
  }
}
